<!DOCTYPE html>
<html>
<head>
  <title>Checkhov</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'bundle' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://use.fontawesome.com/e8d2941511.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
